@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Stay connected with your customers with an easy-to-use </p>
    <h1>Contact Management System</h1>
</div>
